{% extends "padre.html" %}

{% load static %}


{% block contenido %}
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <!--<a class="navbar-brand" href="#!">Start Bootstrap</a> -->
            <a class="btn btn-primary" href="{% url 'inicio' %}">Inicio</a>
            <a class="btn btn-primary" href="{% url 'bcursos' %}">Buscar Cursos</a>
            <a class="btn btn-primary" href="{% url 'balumnos' %}">Buscar Alumnos</a>
            <a class="btn btn-primary" href="{% url 'bprofesores' %}">Buscar Profesores</a>
        </div>
    </nav>

{% endblock %}